/build
/.vscode
/.cache
*.o
/build_sys/src
/build_sys/include
/build_sys/init
/build_sys/builder
/build_sys/main
/build_sys/.vscode
/engine/main
/engine/builder
/src/main
/src/builder
/src/player
main
builder
/engine/build
/engine/.cache
engine_out_state.toml
